numpy==1.24.3
pandas==1.5.3
joblib==1.2.0
scipy==1.10.1
pytest==7.4.2
fastapi==0.104.0
uvicorn==0.23.2 
pydantic==2.4.2
typing-extensions>=4.5.0
uvicorn==0.23.2
hyperopt==0.2.7
mlflow==2.13.2
python-multipart==0.0.9
prometheus_fastapi_instrumentator
dvc[s3]
pydantic-settings==2.0.3